{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/about-us.css">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box-wrap">
                <h2 class="box-title">About Us</h2>
                <p class="box-words">Grassroots Economics is a non-profit foundation that seeks to empower marginalized communities to take charge of their own livelihoods and economic future. We focus on community development through economic empowerment and are dedicated to helping communities realize and share their abundance. While core beneficiaries of our programs include small businesses and people living in informal settlements as well as rural areas, the documentation and tools have been broadly applied worldwide. <a href="https://docs.grassecon.org/community/charter/">Read our charter.</a></p>
                <p class="box-words">Our goal is to improve the lives of those who are most vulnerable.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/aboutus-img1.webp" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box-wrap">
                <p class="box-words1">Our work builds on a rich history of community programs. We have
                    implemented community currency programs in over 45 locations across Kenya and assisted with 2 in South
                    Africa and helped more than 60,000 small businesses, churches and schools take an active role in
                    their own economy and development. We are currently developing programs all over Kenya and providing
                    technical support for those outside Kenya.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h2 class="box-title1">HISTORY</h2>
        </div>
    </div>
    <div class="row">

    </div>

    <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"></li>
	    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row pt-5 row-carousel">
                    <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <div class="wrapper-carousel">
                            <h3 class="years">2010</h3>
                            <div class="line-between"></div>
                            <h2 class="carousel-titles">ECO_PESA</h2>
                            <p>This program was launched as a backed currency model with 75 Businesses taking part in
                                three informal settlements near Kongowea, Mombasa. The currency was backed by donor
                                funds and accomplished some amazing community service and environmental goals in
                                partnership with Green World Campaign while increasing local trade for a year
                                period.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-md-12 ">
                        <div class="wrapper-carousel">
                            <p class="font-big">On average profits increased in 20%</p>
                            <div class="img-wrap">
                                <img class="img-fluid leaf-style"
                                     src="{{SITEURL}}/theme/images/aboutus-imgs/green-leaf-temp-removebg-preview.png">
                            </div>
                            <p class="font-big">20 tonnes of trash collected 1000's of trees were planted</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row pt-5 row-carousel">
                    <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <div class="wrapper-carousel">
                            <h3 class="years">2012 and 2013</h3>
                            <div class="line-between"></div>
                            <h2 class="carousel-titles">BANGLA-PESA</h2>
                            <p>Bangladesh is an informal settlement of approximatly 20 000 inhabitants located outside
                                Mombasa Kenya. This was the first place where a program that was not fully dependent on
                                donor funds was launched. After having had a dramatic start, with people being arrested
                                under charges of forgery, this project currently holds 87,200 (ksh equivalent) vouchers
                                in circulation and a network of 218 businesses.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <div class="wrapper-carousel">
                            <div class="iframe-container">
                                <iframe width="480" height="277" src="https://www.youtube.com/embed/UaspBGmsdLE"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row pt-5 row-carousel">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <h3 class="years">2014</h3>
                            <div class="line-between"></div>
                            <h2 class="carousel-titles">GATINA_PESA</h2>
                            <p>Gatina-Pesa in Kawangware Nairobi, was the first to launch and first to replicate the
                                Bangla-Pesa model </p>
                            <p>With an amazing march through the slum, starting from Congo and ending at Gatina Primary
                                School,the entire community mobilized around their own voucher. Hon. Simba Arati, the
                                area Minister of Parliament, officially cut the ribbon and launched the program.
                                Currently the network is made up of 258 businesses and a strong wholesale shop that
                                backs the system.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <div class="img-wrap">
                                <img class="img-fluid rounded-img"
                                     src="{{SITEURL}}/theme/images/aboutus-imgs/gatina-pesa.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row pt-5 row-carousel">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <h3 class="years">2015</h3>
                            <div class="line-between"></div>
                            <h2 class="pad-bott carousel-titles">3 MORE COMMUNITY CURRENCIES JOINED THE NETWORK !</h2>
                            <div class="img-wrap">
                                <img class="img-fluid rounded-img"
                                     src="{{SITEURL}}/theme/images/aboutus-imgs/carousel3.webp">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <div class="pesa-items">
                                <p class="pesa">Kangemi-Pesa</p>
                                <p class="pesa">Lindi-Pesa</p>
                                <p class="pesa">Ng'ombeni-Pesa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row pt-5 row-carousel">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <h3 class="years">2016</h3>
                            <div class="line-between"></div>
                            <h2 class="carousel-titles">SARAFU-CREDIT</h2>
                            <p>All of the 5 networks joined under a common umbrella called Sarafu-Credit. This allows
                                members to exchange excess vouchers for Kenyan Shillings.</p>
                            <p>Some other exciting things happened this year:</p>
                            <ul>
                                <li>5 supermarket that act as collateral and network hubs were created</li>
                                <li>We began testing on platforms to go digital</li>
                                <li>The initial stages to develop 2 country-wide cooperates (SACCOs) began</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <div class="wrapper-carousel">
                            <div class="img-wrap">
                                <img class="img-fluid rounded-img"
                                     src="{{SITEURL}}/theme/images/aboutus-imgs/carousel4.webp">
                            </div>
<!--                            <div class="wrapper-carousel">-->
                            <p class="font-big">90% of users are very satisfied with Sarafu Credit and want to keep
                                using it</p>
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row pt-5 row-carousel">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <h3 class="years">2017</h3>
                            <div class="line-between"></div>
                            <h2 class="carousel-titles">OUR FIRST RURAL PROGRAM</h2>
                            <p>This year we setup our first rural program in Miyani in partnership with Green World
                                Campaign and we have also pulled all our best practices together into a <a
                                        href="{{SITEURL}}/pages/get-involved.html" class="cert-link">Certificate
                                    Course</a> to be able to help the movement spread faster!</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <div class="img-wrap">
                                <img class="img-fluid rounded-img"
                                     src="{{SITEURL}}/theme/images/aboutus-imgs/carousel5.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row pt-5 row-carousel">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <h3 class="years">2018</h3>
                            <div class="line-between"></div>
                            <h2 class="carousel-titles">SARAFU-NETWORK</h2>
                            <p>Grassroots Economics Foundation helps communities and design, deploy, utilize and
                                maintain Community Inclusion Currencies (CICs), which are customizable tokenized claims
                                against redemption. We also support communities to connect CICs into decentralized
                                economies and share certified data for markets and impacts. <a
                                        href="{{SITEURL}}/pages/sarafu-network.html" class="read-more">Read More</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <div class="img-wrap">
                                <img class="img-fluid " src="{{SITEURL}}/theme/images/aboutus-imgs/3d-classes.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	    <div class="carousel-item">
                <div class="row pt-5 row-carousel">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <h3 class="years">2020</h3>
                            <div class="line-between"></div>
                            <h2 class="carousel-titles">RED CROSS ADOPTION</h2>
                            <p>Mukuru Kayaba and Kisauni Mombasa were the first sites that the Red Cross begain to pilot and introduce Community Inclusion CUrrencies implemented in partnership with Grassroots Economics Foundation </p>
                            <p>The number of registered users grew to over 50,000 and helped support communities facing economic downturns due to covid.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="wrapper-carousel">
                            <div class="img-wrap">
                                <img class="img-fluid rounded-img"
                                     src="{{SITEURL}}/theme/images/aboutus-imgs/red_cross_kisauni.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="youtube-padding">
        <div class="iframe-container">
            <iframe width="1202" height="676" src="https://www.youtube.com/embed/ojFPrVvpraU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="grid-color-wrap">
        <div class="row d-flex justify-content-center text-center first-row grid-wrapper">
            <div class="meet-title">
                <a id="meet-the-team"><h2>MEET THE TEAM</h2></a>
                <div class="big-line-between"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/William-lum-luke.webp">
                <div class="grid-img-text">
                    <p class="name">William (Lum) Luke</p>
                    <p class="position">Senior Software Engineer</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img2.webp">
                <div class="grid-img-text">
                    <p class="name">Will Ruddick</p>
                    <p class="position">Founder</p>
                </div>
            </div>
	    <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img5.webp">
                <div class="grid-img-text">
                    <p class="name">Damaris Njoroge</p>
                    <p class="position">Program Coordinator</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center text-center grid-wrapper">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img4.webp">
                <div class="grid-img-text">
                    <p class="name">Sylvia Karanja</p>
                    <p class="position">Data Quality Engineer</p>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img6.webp">
                <div class="grid-img-text">
                    <p class="name">Amina Godana</p>
                    <p class="position">Support Engineer</p>
                </div>
            </div>
	    <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img15.webp">
                <div class="grid-img-text">
                    <p class="name">Janet Treezer </p>
                    <p class="position">Support Engineer</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center text-center grid-wrapper">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img7.webp">
                <div class="grid-img-text">
                    <p class="name">Louis Holbrook</p>
                    <p class="position">Lead Software Architect </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/eck.webp">
                <div class="grid-img-text">
                    <p class="name">Eckhard Volkmann</p>
                    <p class="position">Regenerative Agricultural Advisor</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img9.webp">
                <div class="grid-img-text">
                    <p class="name">Philip Wafula</p>
                    <p class="position">Senior Software Engineer</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center text-center grid-wrapper">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/blair.webp">
                <div class="grid-img-text">
                    <p class="name">Blair Vanderlugt</p>
                    <p class="position">Software Team Lead</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/sohail.webp">
                <div class="grid-img-text">
                    <p class="name">Mohammed Sohail</p>
                    <p class="position">Senior Software Engineer</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center text-center grid-wrapper">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img10.webp">
                <div class="grid-img-text">
                    <p class="name">Joyce Kamauk</p>
                    <p class="position">Support Engineer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img12.webp">
                <div class="grid-img-text">
                    <p class="name">Emmanuel Mbui </p>
                    <p class="position">Support Engineer</p>
                </div>
            </div>
	    <div class="col-lg-4 col-md-6 col-sm-12">
                <img class="img-fluid circle-img" src="{{SITEURL}}/theme/images/aboutus-imgs/grid-img13.webp">
                <div class="grid-img-text">
                    <p class="name">Fransisca (Mami) Achieng</p>
                    <p class="position">Field Support Engineer</p>
                </div>
            </div>

        </div>
    </div>

    <div class="sponsors-wrapper ">
        <div class="justify-content-center">
            <a id="sponsors"><p class="sponsor-text">Our sponsors and partners include</p></a>
        </div>

        <div class="d-flex flex-wrap justify-content-center sponsor-imgs">
<!--            <p class="sponsor-tex1t">Our sponsors and partners include</p>-->
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/spons-stichting.webp" class="img-fluid">
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/spons-da-redcross.webp" class="img-fluid">
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/spons-courtofarms.webp" class="img-fluid">
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/spons-forge.webp" class="img-fluid">
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/spons-iflas.webp" class="img-fluid">
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/spons-redcross.webp" class="img-fluid">
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/spons-schumacher.webp" class="img-fluid">
        </div>

        <div class="special-thanks">
            <h3 class="text-center special-title">A special thanks</h3>
            <div class="row pt-5 justify-content-center">
              <div class="col-4">
		<h3 class="text-center special-title">Previous Advisors</h3>
		    <p>Gustav Stromfelt</p>
                    <p>Holger Hoffmann-Riem</p>
                    <p>Reba Chabeda</p>
                    <p>Counsel Reza Zain Jaufeerally</p>
                    <p>Carmen Mauk</p>
                    <p>Professor Jem Bendell</p>
                    <p>Robert Mutsaers</p>
                    <p>Ahmed Maawy</p>

                </div>
                <div class="col-8">
		<h3 class="text-center special-title">Sponsors and Volunteers</h3>
                    <p class="small-text">Leila Kidson, Cara Eyre, Thibaud Dezyn, Jimmy Heyns, Henk Van Arkel, Elvis Ogweno, Annette Loudon, Chris Lindstrom, Christina Bordes, Elizabeth Weiland, Gilfrid Powys, Loucéro Mariani, Jim and Ellen Wagner, The Ruddick Family, The Kowa Family, Dawn Richards, Edmond Oklahoma United Methodist Women, Prof. Dr. Margrit Kennedy, Prof. Declan Kennedy, Dr. Jeremy Bendell, Xenia Heinze, Association TAOA, Jamie Brown, Kevin Cox, Sergio Lub, Hayem Etienne, Edgar Kampers, DELAMARE, David Hall, MULLER, Marie-Hélène, Barbara Schiess, Eva Vander Giessen, Joseph Leonardi, Susan Steed, Guido Hosman, Gabriel Grimsditch, Tobias Fields, Nemo Curiel, Hugo Godschalk, Guido Hosman, Lorne Covington, Bob and Margaret Macemon, Sergio Lub, Mark and Julie Richards, Carla Lundberg, PINTO Romain, Scott Williams, Barbara Schiess, Aaron Vaillancourt, Leander Bindewald, Brent Ranalli, Eric Harris-Braun, Martin Kreidenweis, Georg Pluta, Arthur Brock, Daniel Quay, Guy Staniforth</p>
                </div>
            </div>

        </div>
    </div>
    <hr class="last-line">
</div>


{% endblock %}
