{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/get-involved.css">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="img-ge-container">
        <img class="img-fluid img-cover" src="{{SITEURL}}/theme/images/get-involved-imgs/goofy-faces-crop2.jpg">
        <h1 class="join-forces1 text-inside1">Joining</h1>
        <h1 class="join-forces2 text-inside2">FORCES</h1>
    </div>
    <div class="container container-getinv">
        <div class="row row-gev-pad">
                <p>We are seeking support to both spread our programs through training global leaders and currency designers and to deepen cooperative economic resilience in communities already using Community Currencies through increasing health, education and trade opportunities. There are many ways to get involved! <a class="geinv-link" href="https://docs.grassecon.org/community/">Join our community!</a></p>

        </div>
        <div class="d-flex justify-content-center">
            <div class="line-deco"></div>
        </div>
        <div class="available-positions">
            <h1 class="big-title">Available Positions</h1>
            <div class="row row-pad">
                <div class="col-lg-6 col-md-6 col-sm-12 center-text">
                    <h2 class="positions">Fundraising Officer </h2>
                    <div class="img-pad">
                        <img class="img-fluid gev-img-round"
                             src="{{SITEURL}}/theme/images/get-involved-imgs/availabeimg1.webp">
                    </div>
                    <div class="text-wrap">
                        <p class="gev-text">Lead the way in designing, implementing and monitoring our diverse
                            fundraising campaigns</p>
                        <p class="gev-small-text">Contact us to learn more on the role and on how to apply</p>
                        <p class="gev-italics">Deadline for applications: On going</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 center-text">
                    <h2 class="positions mobile-pad">M&E and Research Manager </h2>
                    <div class="img-pad">
                        <img class="img-fluid gev-img-round"
                             src="{{SITEURL}}/theme/images/get-involved-imgs/availableimg2.webp">
                    </div>
                    <div class="text-wrap">
                        <p class="gev-text">Lead the way in gathering and analyzing community and CC related data, do
                            research into related fields and work with other team to monitor project implementation and
                            effectiveness</p>
                        <p class="gev-small-text">Contact us to learn more on the role and on how to apply</p>
                        <p class="gev-italics">Deadline for applications: On going</p>
                    </div>
                </div>
            </div>
            <div class="row row-pad">
                <div class="col-lg-6 col-md-6 col-sm-12 center-text">
                    <h2 class="positions">Program Manager</h2>
                    <div class="img-pad">
                        <img class="img-fluid gev-img-round"
                             src="{{SITEURL}}/theme/images/get-involved-imgs/availableimg3.webp">
                    </div>
                    <div class="text-wrap">
                        <p class="gev-text">Work closely with the field team, coordinate internal resources as well as
                            external resources and have direct responsibility over project outcomes</p>
                        <p class="gev-small-text">Contact us to learn more on the role and on how to apply </p>
                        <p class="gev-italics">Deadline for applications: On Going</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 center-text">
                    <h2 class="positions mobile-pad">Developer</h2>
                    <div class="img-pad">
                        <img class="img-fluid gev-img-round"
                             src="{{SITEURL}}/theme/images/get-involved-imgs/availableimg4.webp">
                    </div>
                    <div class="text-wrap">
                        <p class="gev-text">Lead the way in designing, implementing and monitoring our diverse projects
                            from a tech perspective </p>
                        <p class="gev-text">Check out our <a class="geinv-link"
                                                             href="https://gitlab.com/grassrootseconomics/cic-platform/-/wikis/BLOXBERG-component-overview">Component
                            Overview </a> and <a class="geinv-link"
                                                 href="https://gitlab.com/groups/grassrootseconomics/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=help-wanted">open
                            Issues!</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="research-title center-text">
            <h1 class="big-title">Research,Intern,Volunteer & Explore!</h1>
            <p class="bigger-small-font">Volunteering, researching and being an intern with Grassroots Economics is a
                rewarding experience that can change the lives of people in need. You will be building a bridge between
                cultures and sharing your hope, enthusiasm, skills and dreams. Through this experience you will be able
                to fully understand how community currencies work and be able to take back and spread this knowledge
                with you.</p>
        </div>
    </div>
    <div class="pt-5">

    </div>
    <div class="research-row">
        <div class="row center-text">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2 class="big-title">Research</h2>
                <div class="wrap-this-text">
                    <p class="pad-this-text"> Masters/Phd thesis and publications come out yearly and help expand on our
                        work and take it to other communities around the world</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2 class="big-title">Intern</h2>
                <div class="wrap-this-text">
                    <p class="pad-this-text">Take part in developing cooperative businesses, designing social and
                        environmental services and communication strategies to strengthen the use of community
                        currencies</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2 class="big-title">Volunteer</h2>
                <div class="wrap-this-text">
                    <p class="pad-this-text">Get involved in teaching and playing with children or on the development of
                        different permaculture projects.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container calender-wrap">
        <div class="row pt-4">
            <div class="col-6 center-text">
                <img class="img-fluid" src="{{SITEURL}}/theme/images/get-involved-imgs/calender-new.png">
            </div>
            <div class="col-6">
                <div class="wrap-this-text">
                    <p class="calender-text">Plan to stay for at least 1 month and have a life changing experience</p>
                </div>
            </div>
        </div>
    </div>
    <div class="backimg-big">
        <div class="backimg-container">
            <img class="streched-back-img" src="{{SITEURL}}/theme/images/get-involved-imgs/back-img2.webp">
            <img class="logo-img" src="{{SITEURL}}//theme/images/get-involved-imgs/logo-in-img.png">
            <div class="community-title-wrap">
                <h1 class="community-title">Community</h1>
                <h1 class="community-title">Currency</h1>
                <h1 class="community-title">Design Course</h1>
            </div>
        </div>
    </div>
    <div class="container container-mooc pt-5">
        <hr class="line-above">
        <div class="mooc-text-wrap center-text">
            <p class="mooc-small-font">After understanding how to tap into the abundance of communities and build resilient thriving local economies, you will never look at money in the same way.</p>
        </div>
        <hr class="line-above">
        <div class="clearfix pt-5 pb-5">
            <div class="bold-words float-lg-start float-md-none float-sm-nome">
                <p class="bold-big-font">Please make sure to take the MOOC and read our Training Materials before planning on coming for practical experience</p>
            </div>
            <img class="img-fluid float-lg-end float-md-none float-sm-nome"
                 src="{{SITEURL}}//theme/images/get-involved-imgs/mooc-img.webp">
        </div>
        <hr class="line-above">
        <div class="mooc-training center-text pt-5 pb-5">
            <p>Our Training Materials and MOOC provide a grounding in Community Currency theory, implementation and
                management with a focus on practical understanding and skills.</p>
            <p><a class="geinv-link" href="https://docs.grassecon.org/operations/">Go to the Training Materials</a></p>
            <p><a class="geinv-link" href="{{SITEURL}}/pages/mooc.html">Go to the MOOC</a></p>
        </div>
    </div>
    <div class="big-carousel pt-5">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active center-text">
                    <img src="{{SITEURL}}//theme/images/get-involved-imgs/carousel1.webp" class="img-fluid">
                    <div class="text-below">
                        <p class="car-big-font">"These last days with GE have been an eye-opener. We've seen community currencies improve individuals' capacity to save, strengthen social relations, increase community cohesion and help communities articulate their interest towards local government. Thank you all for very inspiring days and thought-provoking discussions!" </p>
                        <p class="car-small-font">Ester Barinaga, professor in Social Innovation at the Copenhagen Business School.</p>
                    </div>
                </div>
                <div class="carousel-item center-text">
                    <img src="{{SITEURL}}//theme/images/get-involved-imgs/carousel2.webp" class="img-fluid">
                    <div class="text-below">
                        <p class="car-big-font">"I've learned the skills I need to bring Community Currencies to marginalized communities in Benin." </p>
                        <p class="car-small-font">Marion Cauvet, student in the MSc "Agricultural Development" at the University of Copenhagen</p>
                    </div>
                </div>
                <div class="carousel-item center-text">
                    <img src="{{SITEURL}}//theme/images/get-involved-imgs/carousel3.webp" class="img-fluid">
                    <div class="text-below">
                        <p class="car-big-font">"The course taught me the practical steps in designing and implementing a Community Currency"  </p>
                        <p class="car-small-font">AbdulHakim Maina working with the College of Islamic Studies, Kenya.</p>
                    </div>
                </div>
                <div class="carousel-item center-text">
                    <img src="{{SITEURL}}//theme/images/get-involved-imgs/carousel5.webp" class="img-fluid">
                    <div class="text-below">
                        <p class="car-big-font">"Seeing first hand the development of Miyani-Pesa in rural Kenya made Community Currencies seem practical"</p>
                        <p class="car-small-font">Thibaud Dezyn a student in Cultural Anthropology and Development Studies (CADES) at the University of Leuven, Belgium.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="donate-img-wrap">
            <img class="img-fluid img-cover" src="{{SITEURL}}/theme/images/get-involved-imgs/donate-img.webp">
            <h1 class="text-donate">Donate</h1>
        </div>
    </div>
    <div class="container container-impact">
        <div class="row pb-5">
            <div class="col-6">
                <div class="multiply-wrap">
                    <h1 class="multiply-bold">Multiply your impact</h1>
                </div>
            </div>
            <div class="col-6">
                <img class="img-fluid" src="{{SITEURL}}/theme/images/get-involved-imgs/impact.png">
            </div>
        </div>
        <hr class="line-above">
        <div class="mooc-text-wrap center-text pt-4 pb-4">
            <p class="mooc-small-font">By turning your donations into local currency your impact will stay in circulation helping the community 8 times longer</p>
            <p><a class="geinv-link" href="{{SITEURL}}/pages/research.html">Take a look at our reaserch </a></p>
        </div>
        <hr class="line-above">
        <div class="row flex-column-reverse flex-lg-row pt-5 pb-5">
            <div class="col-lg-6 col-md-12 col-sm-12 center-text">
                <p>Please <a class="geinv-link" href="{{SITEURL}}/pages/contact-us.html">Contact us</a> whenever you send a donation!</p>
                <p>To Donate Crypto Currencies (ERC20) like Ethereum please use our account: <a class="geinv-link" href="https://etherscan.io/tokenholdings?a=0xba0fee8490118fc4f46bd0974d7bf93d0e2f1064">0xba0FEE8490118FC4f46Bd0974D7BF93d0e2f1064</a></p>
                <p>Support us through our partners!</p>
		<ul><li>open source software development <a class="geinv-link" href="https://gitcoin.co/grants/816/grassroots-economics-cic-support-kenya-beyond">here @ Gitcoin.</a>
		<li>community outreach in rural villages <a class="geinv-link" href="https://giveth.io/project/grassroots-economics-community-currency">here @ Giveth.</a></ul>
		
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 center-text">
                <img class="img-fluid" src="{{SITEURL}}/theme/images/get-involved-imgs/donate-new-removebg-preview.png">
            </div>
        </div>
    </div>
    <hr class="line-above">
</div>

{% endblock %}
