{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/research.css">
<script src="{{SITEURL}}/theme/js/research-js.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="re-img-container">
        <img class="img-fluid re-img" src="{{SITEURL}}/theme/images/research-imgs/research-img1.webp">
        <h1 class="research-heading">Research</h1>
    </div>
    <div class="container research-container pt-5 pb-5">
        <div class="re-center-this">
            <p>We do regular monitoring and evaluation on the impact of our programs and collaborate with researchers
                from around the world. Data is collected through digital (blockchain-based) transaction data, journals
              and surveys of people using and not using Community Inclusion Currencies.</p>
	        </div>

        <div class="blue-section pt-5 pb-5">
	  	    <h2>Research Questions</h2>
          <div class="list-section">
                <ul>
                    <li>Design</li>
                    <ul>
                        <li>What do communities need to unlock and direct their collective capacity?</li>
                        <ul>
                            <li>What does a post scarcity society look like?</li>
                            <li>How can variations on currency design support community abundance and harmony with their
                                environment and other communities?
                            </li>
                            <li>Ideology and ethics - Why develop a community currency? (For each part of the
                                infrastructure and various implementers.)
                            </li>
                        </ul>
                    </ul>
                    <li>Development</li>
                    <ul>
                        <li>How can community currencies and their infrastructure be developed and managed?</li>
                        <li>How are communities fully empowered and sovereign in their choices?</li>
                        <li>What regulatory frameworks can be used?</li>
                        <li>How to achieve institutional integration - Humanitarian orgs, chamas (community groups),
                            schools, shops, govt. Financial Institution, Faith based organizations, etc
                        </li>
                        <li>Network visualization and analytics that help understand, react to and manage CIC systems
                        </li>
                        <ul>
                            <li>Predictive and Agent based modelling</li>
                        </ul>
                        <li>How can people and institutions outside of a community interact with the local community?
                            Aid distribution - redistribute taxes? (voting, algo, etc) ... Also in what medium: Capacity
                            building, in-kind, cash, stable tokens, etc
                        </li>
                    </ul>
                    <li>Understanding:</li>
                    <ul>
                        <li>What are the impacts from pilots and trials? - short and long term effects of such programs
                            like <a class="re-link" href="{{SITEURL}}/pages/sarafu-network.html">Sarafu Network.</a>
                        </li>
                        <li>What characteristics cause community currencies of different designs and communities to have
                            different impacts?
                        </li>
                    </ul>
                </ul>
                <div class="re-center-this">
                    <p><a class="re-link" href="{{SITEURL}}/pages/contact-us.html">We love to get feedback and link to
                        studies!</a></p>
                </div>
            </div>
        </div>

  
        <div class="crisis-response">
            <div class="d-flex">
                <div class="me-auto">
                    <p class="re-small-font bold-font">Complex Systems Modeling of Community Inclusion Currencies</p>
                    <p><a class="re-link" href="https://epub.wu.ac.at/8664/">Vienna University of Economics and Business</a></p>
                    <p>Clark, Andrew and Mihailov, Alexander and Zargham, Michael (2022)</p>
                </div>
            </div>
            <div class="abstract pt-5">
                <p class="re-small-font">Abstract:</p>
                <p class="re-small-font">This paper proposes a complex dynamic system subpopulation model for the construction and validation of a novel form of local complementary currency, namely the Grassroots Economics Foundation’s Community Inclusion Currency (CIC) implemented recently in Kenya. First, we highlight that CICs can act as a local liquidity-provision institutional device in poor or isolated economic regions, thereby serving as a market-based mechanism to alleviate poverty. Second, we elicit 50 heterogeneous utility types according to observed transactions behavior in our rich data set, i.e., via revealed – and recorded – preferences, and build a corresponding model and simulation at a meso-economic level.</p>
            </div>
        </div>

        <div class="crisis-response">
            <div class="d-flex">
                <div class="me-auto">
                    <p class="re-small-font bold-font">Sarafu Community Inclusion Currency 2020–2021</p>
                    <p><a class="re-link" href="https://www.nature.com/articles/s41597-022-01539-4">Scientific Data - Data Decriptor</a></p>
                    <p>Carolina E. S. Mattsson, Teodoro Criscione & William O. Ruddick </p>
                </div>
            </div>
            <div class="abstract pt-5">
                <p class="re-small-font">Abstract:</p>
                <p class="re-small-font">We describe a dataset of account information and detailed transaction records for a digital complementary currency in Kenya. This “Sarafu system” initially encompassed several local, physical community currencies, which began transitioning to a feature-phone mobile interface in 2017. One unit of “Sarafu” is roughly equivalent in value to a Kenyan shilling. The published data includes anonymized account information for around 55,000 users and records of all Sarafu transactions conducted from January 25, 2020 to June 15, 2021. Transactions totaling around 300 million Sarafu capture various economic and financial activities such as purchases, transfers, and participation in savings and lending groups. So-called “chamas” are key to the operation of the Sarafu system and many such groups are labeled in the data. Describing this data contributes to research on the operation of community currencies, monetary systems, and economic networks in marginalized, food insecure areas. The observation period includes the first year of the COVID-19 pandemic and several documented pilot projects and interventions.</p>
            </div>
        </div>


        <div class="crisis-response">
            <div class="d-flex">
                <div class="me-auto">
                    <p class="re-small-font bold-font">Complementary Currencies for Humanitarian Aid 2021</p>
                    <a class="re-small-font-link"
                       href="https://www.mdpi.com/1911-8074/14/11/557">by Leanne Ussher, Laura Ebert, Georgina M. Gómez, William O. Ruddick</a>
                </div>
            </div>
            <div class="abstract pt-5">
                <p class="re-small-font">Abstract:</p>
                <p class="re-small-font">The humanitarian sector has gone through a major shift toward injection of cash into vulnerable communities as its core modality. On this trajectory toward direct currency injection, something new has happened: namely the empowerment of communities to create their own local currencies, a tool known as Complementary Currency systems. This study mobilizes the concepts of endogenous regional development, import substitution and local market linkages as elaborated by Albert Hirschman and Jane Jacobs, to analyze the impact of a group of Complementary Currencies instituted by Grassroots Economics Foundation and the Red Cross in Kenya. The paper discusses humanitarian Cash and Voucher Assistance programs and compares them to a Complementary Currency system using Grassroots Economics as a case study. Transaction histories recorded on a blockchain and network visualizations show the ability of these Complementary Currencies to create diverse production capacity, dense local supply chains, and data for measuring the impact of humanitarian currency transfers. Since Complementary Currency systems prioritize both cooperation and localization, the paper argues that Complementary Currencies should become one of the tools in the Cash and Voucher Assistance toolbox.</p>
            </div>
        </div>

	      <div class="crisis-response">
            <div class="d-flex">
                <div class="me-auto">
                    <p class="re-small-font bold-font">Community Currencies as Crisis Response 2022</p>
                    <p><a class="re-link" href="https://www.frontiersin.org/articles/10.3389/fbloc.2021.739751/full">Results from a Randomized Control Trial in Kenya</a></p>
                    <p>Rebecca Mqamelo</p>
                </div>
            </div>
            <div class="abstract pt-5">
                <p class="re-small-font">Abstract:</p>
                <p class="re-small-font">This paper presents the results of what may be the world’s first randomized control trial on community currencies, focusing on Grassroots Economics Community Inclusion Currency (CIC) model run on the xDAI blockchain. Beneficiaries in Nairobi, Kenya were sent the equivalent of $30 in cryptocurrency tokens, enabling a level of impact evaluation usually unfeasible for most cash and mobile-money based transfer programs. Results show that CIC transfers of $30 are associated with $93.51 increase in beneficiaries wallet balance, a $23.17 increase in monthly CIC income, a $16.30 increase in monthly CIC spending, a $6.31 increase in average trade size and a $28.43 increase in expenditure on food and water. However, the difference in treatment effects for males versus females suggests gender imbalances persist. This study serves as an important prototype for novel cash transfer models and presents some of the first quantitative evidence in the area of “crypto for good.”</p>
            </div>
        </div>

	
	<div class="crisis-response">
            <div class="d-flex">
                <div class="me-auto">
                    <p class="re-small-font bold-font">Sarafu - User Phone Survey and Analysis 2021</p>
                    <a class="re-small-font-link"
                       href="{{SITEURL}}/theme/pdfs/CIC.pdf">60
                        Decibels</a>
                </div>
            </div>
            <div class="abstract pt-5">
                <p class="re-small-font">Abstract:</p>
                <p class="re-small-font">325 Sarafu users in Kenya were sampled out of Frequent, Infrequent and
                    non-trading registered. The survey and analysis found, among many things, that 44% of users were
                    using Sarafu to buy household items and 41% used Sarafu specifically to access food. Strikingly the
                    study found that 99% of users had no alternative to an alternative to Sarafu for trading with others
                    when national currency was scarce.</p>
            </div>
        </div>

        <div class="crisis-response">
            <div class="d-flex">
                <div class="me-auto">
                    <p class="re-small-font bold-font">Sarafu - CIC 2020-2021 Data Published</p>
                    <p><a class="re-small-font-link" href="https://reshare.ukdataservice.ac.uk/855142/">Anonymous
                        transaction and meta data on Sarafu usage</a></p>
                    <p class="re-small-font">William O. Ruddick</p>
                    <p class="re-small-font">Criscone, Teodoro</p>
                    <p class="re-small-font">Mattsson, C.E.S</p>
                </div>
            </div>
            <div class="abstract pt-5">
                <p class="re-small-font">Abstract:</p>
                <p class="re-small-font">We describe a dataset of account information and transaction records for a
                    digital community currency in Kenya. One unit of “Sarafu” is roughly equivalent in value to a Kenyan
                    shilling. The Sarafu system has existed since 2010 and began operating digitally via USSD
                    feature-code cellular technology in 2017. This dataset includes pseudonymized account information
                    for around 55,000 users and records of all Sarafu transactions conducted from 25/01/2020 to
                    15/06/2021. User transactions capture various economic and financial activities such as purchases,
                    transfers, and participation in savings and lending groups. So-called "chamas" are key to the
                    operation of the Sarafu system and clearly labeled in the data. This dataset will contribute to
                    research on the operation of community currencies, monetary systems, and economic networks in
                    underdeveloped areas. The observation period includes the first year of the coronavirus pandemic and
                    several documented pilot projects and development interventions.</p>
            </div>
        </div>

        <div class="re-articles">
            <div class="article_r">
                <p class="re-small-font bold-font">Red Cross Mukuru Kayaba Rapid Survey Analysis May 2020</p>
                <p class="bold-font">CIC: Mukuru Kayaba Rapid Survey Analysis - brief.</p>
                <p>Date of analysis:25th to 30th May 2020<br>
                    Area of survey: Mukuru Kayaba (Pop. 83,000) (Pop of Sarafu users 4000)<br>
                    Number of respondent: Female 391, Male 228 Total: 619<br>
                    Goal: To understand the impact of Sarafu and give qualitative understanding of the statistics for
                    users.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="" class="click-here">Click here</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Proof of Impact: Blockchain Community Currencies in Action</p>
                <p>Galia Benartzi and Rebecca Mqamelo. 2019.</p>
                <p> This working paper looks at how the blockchain-based Sarafu Network addresses liquidity problems
                    commonly associated with community currency systems and provides case studies on how the Sarafu
                    Network has impacted the lives of participants.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/CIC-crisis-response.pdf"
                       class="click-here">Click here</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">A relational analysis of sarafu network: emergence of a monetary
                    ecosystem for the prosperity of the communities</p>
                <p>Master Course. University of Torino. Sowelu Elios Avanzo</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/sarafu-network.pdf"
                       class="click-here">Click here</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Economic advantages of community currencies</p>
                <p>Seminar Paper. Sarah Zeller</p>
                <p> Community currencies are used all over the world, but only sometimes economically ad- vantageous. We
                    introduce liquidity to the debate as a new explanation of success. After developing a working
                    hypothesis, we use two case studies to test it. We find community currencies are only economically
                    advantageous in an environment of insufficient liquidity.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/economic-adv-cic.pdf"
                       class="click-here">Click here</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Trade facilitation and community development in the age of blockchain
                    & DLT</p>
                <p> The starting point of this report was a research study on behalf of the Deutsche Gesellschaft für
                    Internationale Zusammenarbeit (GIZ) GmbH who is a global service provider in the field of
                    international cooperation for sustainable development. The task was to investigate community
                    currency projects in low-resource environments.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/trade-facilitation.pdf"
                       class="click-here">Click here</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">DANIDA awarded 9 million DKK for research on Community Currencies</p>
                <p> DANIDA (Denmark's development cooperation, an area of activity under the Ministry of Foreign Affairs
                    of Denmark) recently awarded 8,9 millions DKK for the project Community Currencies: Grassroots
                    Financial Innovations for Inclusive Economic Growth to professor <a class="re-link"
                                                                                        href="https://www.cbs.dk/en/research/departments-and-centres/department-of-management-politics-and-philosophy/staff/ebmpp">Ester
                        Barinaga, MPP and Lund University</a>. During the coming 4 years, the project is to look at the
                    governance practices, impact
                    and diffusion strategies of the Kenyan community currencies in Mombasa and Nairobi, as well as to
                    introduce three community currencies in Kisumu.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="https://www.cbs.dk/en/research/departments-and-centres/department-of-management-politics-and-philosophy/news/ester-barinaga-mpp-receives-research-grant-from-danida"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Voucher Systems for Food Security A Case Study on Kenya’s
                    Sarafu-Credit</p>
                <p> Marion Cauvet. 2018<br>
                    M.Sc. Agricultural Development, University of Copenhagen</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/voucher-systems.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Community Currency Programmes as a Tool for the Sustainable
                    Development of Informal Settlements: The Case of Mombasa and Nairobi County, Kenya</p>
                <p> Daan Sillen. 2017<br>
                    M.Sc. Public Policy and Human Development United Nations University and Maastritcht University.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/UNU-merit.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">The case of Sarafu-credits: Examining how a community currency can
                    contribute to sustainable livelihood in informal settlements
                </p>
                <p> Hannes Anagrius. 2017<br>
                    M.Sc in resilience and sustainability science at Stockholm Resilience Centre in Sweden.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/stock-resiliance.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Community Currencies in a Development Context, The case of the
                    Sarafu-Credit in Kenya
                </p>
                <p> Thibaud Dezyn 2017<br>
                    Masters in Cultural Anthropology, University of Leuven, Belgium.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/CIC-development.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Challenges of Collective Organization and Institution Building around
                    Community Currencies in Kenyan Slums
                </p>
                <p> Dissaux, T., Ruddick, W. 2017<br>
                    Paper prepared for the 4th International Conference on Social and Complementary Currencies in
                    Barcelona, Spain.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/challanges-of-collective-org.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">The Role of Complementary Currency in Promoting Business Growth in an
                    Informal Economy: Case of Bangla-Pesa
                </p>
                <p> Roselyne M. Omanga. 2016<br>
                    Masters of Executive Business Administration, Strathmore University, Kenya.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/role-of-complementary-currency.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Relationship between Community Currencies and Nutritional Intake of
                    Household in Kibera Kenya
                </p>
                <p> Sharlene Mbula Mule. 2016<br>
                    Degree of Bachelor in Science in Food Nutrition and Dietetics. University of Nairobi.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="{{SITEURL}}/theme/pdfs/relationship-btwn-cic.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Trust and Spending of Community Currencies in Kenya
                </p>
                <p> Ruddick, W. 2015<br>
                    Paper prepared for the 3rd International Conference on Social and Complementary Currencies in
                    Salvador, Brazil.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="https://socialcurrency.sciencesconf.org/conference/socialcurrency/pages/Trust_and_Spending_of_Community_RUDDICK.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Re-imagining Money to Broaden the Future of Development Finance: What
                    Kenyan Community Currencies Reveal is Possible for Financing Development
                </p>
                <p> Bendell, J., Slater, M., Ruddick, W. 2015<br>
                    United Nations Research Institute for Social Development Working Paper 2015-10.
                </p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="https://www.unrisd.org/80256B3C005BCCF9/search/99FCA15CAF8E24F4C1257E7E00501101?OpenDocument"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Complementary Currencies for Sustainable Development in Kenya: the
                    Case of the Bangla-Pesa
                </p>
                <p> Ruddick, W., Richards, M., Bendell, J. 2015.<br>
                    International Journal of Community Currency Research.
                </p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="https://ijccr.files.wordpress.com/2014/11/ijccr-2014-ruddick.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Eco-Pesa: an Evaluation of a Complementary Currency Programme in
                    Kenya's Informal Settlements
                </p>
                <p> Ruddick, W., 2011<br>
                    International Journal of Complementary Currencies.
                </p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="https://ijccr.files.wordpress.com/2012/04/ijccr-2011-ruddick.pdf"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Complementary Currencies Strengthening the Social and Solidarity
                    Economy: Case Studies from Kenya
                </p>
                <p> Ruddick, W., Mariani, L. 2013<br>
                    United Nations Research Institute for Social Development Working Paper.
                </p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="https://www.unrisd.org/80256B3C005BCCF9/search/E2B1E6C5D3D4127BC1257B60005013CB?OpenDocument"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="article_r">
                <p class="re-small-font bold-font">Kenyan Businesswomen Transforming Slum Economies through
                    Complementary Currencies
                </p>
                <p> Richards, M., Ruddick, W. 2013<br>
                    United Nations Research Institute for Social Development.
                </p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a href="https://www.unrisd.org/unrisd/website/newsview.nsf/(httpNews)/B84ECEC19AC54952C1257BB2004"
                       class="click-here">Read Full Article</a>
                </div>
                <div class="bottom-line"></div>
            </div>
        </div>
    </div>
    <hr class="re-last-line">
</div>

{% endblock %}
